@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
:root {
  --white: #fff;
  --blue: #4a99d3;
  --dark: #260041;
  --dark2: #0f001a;
}
a {
  text-decoration: none;
  color: var(--white);
}
li {
  list-style: none;
}
.second-menu .active {
  color: var(--blue);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.background-header-main {
  background: linear-gradient(
      180deg,
      #4a99d3 -97.33%,
      rgba(74, 154, 211, 0) 17.91%
    ),
    #ffffff;
  box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
  background-size: cover;
}

header {
  display: flex;
  height: 5vw;
  min-width: 100%;
  flex-shrink: 0;
  padding: 0 15vw 0 12vw;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-nav ul {
  display: flex;
}
.header-nav img {
  width: 7vw;
}
.second-menu a {
  font-size: 1.2vw;
  margin-left: 5vw;
  color: var(--dark2);
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 100%;
  height: 100%;
}
.section-one {
  display: flex;
  padding: 0 1vw 10vw 12vw;
}
.section-one-left {
  flex-basis: 60%;
  font-size: 0.9vw;
}
.section-one-left h1 {
  font-size: 2.5vw;
  color: var(--dark);
  margin: 7vw 0 0.2vw 0;
  line-height: 3.4vw;
}
.section-one-left p {
  font-size: 1.2vw;
  max-width: 40vw;
}
.section-one-left-text p {
  line-height: 1.7vw;
}

.section-one-btns {
  display: flex;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9vw;
  height: 3vw;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 0.3vw;
  margin: 3vw 0.6vw 8vw 0;
  font-size: 1vw;
  cursor: pointer;
}
.btn img {
  width: 22%;
  height: 55%;
}
.btn p:first-child {
  display: flex;
  font-size: 0.6vw;
  justify-content: flex-start;
}

.section-one-right {
  display: flex;
  flex-basis: 40%;
  position: relative;
  justify-content: center;
  align-items: center;
}
.section-one-right-imgs img:first-child {
  position: absolute;
  width: 13vw;
  top: 7vw;
  left: 3vw;
  z-index: 1;
}
.section-one-right-imgs img:last-child {
  position: absolute;
  width: 15vw;
  top: 3vw;
  left: 12vw;
  z-index: 0;
}

.section-two {
  display: flex;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 2vw 15vw 0 12vw;
  position: relative;
}
.section-two p {
  font-size: 1vw;
}
.section-two h4 {
  font-size: 1.2vw;
}
.section-two a {
  color: var(--blue);
  font-size: 0.9vw;
}

.section-two-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  z-index: 3;
}
.section-two-left h2 {
  font-size: 2vw;
  margin-top: 8vw;
}

.section-two-post {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 10px;
  width: 18vw;
  height: 25vw;
  padding: 2vw 2vw 1.5vw 2vw;
  box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
}
.section-two-post img {
  width: 12vw;
  margin-bottom: 1vw;
}
.section-two-post img:last-child {
  position: absolute;
  left: 10;
  width: 0.9vw;
  margin: 0 0 0 1vw;
}
.section-two-post1 {
  margin: 9vw 0 20vw 13vw;
}

.arrow-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
  color: var(--blue);
}

.section-two-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-basis: 50%;
  z-index: 3;
}

.squares-top {
  display: flex;
  position: absolute;
  right: 0;
}

.squares-right {
  display: flex;
  position: relative;
}
.squares-right img {
  width: 8vw;
}

.squares-right img:first-child {
  position: absolute;
  top: 0.8vw;
  right: 20vw;
}

.squares-right img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 1.8vw;
}
.squares-right img:nth-child(3) {
  position: absolute;
  top: 2vw;
  right: 3.8vw;
}
.squares-right img:nth-child(4) {
  position: absolute;
  top: 4vw;
  right: -1.4vw;
}

.squares-bottom {
  display: flex;
  position: absolute;
  left: 0;
}

.squares-left {
  display: flex;
  position: relative;
}
.squares-left img {
  width: 8vw;
}
.squares-left img:first-child {
  position: absolute;
  left: 22.5vw;
  top: 34.1vw;
}
.squares-left img:nth-child(2) {
  position: absolute;
  top: 62.2vw;
  left: -1.5vw;
}
.squares-left img:nth-child(3) {
  position: absolute;
  top: 60.3vw;
  left: 0.8vw;
}
.squares-left img:nth-child(4) {
  position: absolute;
  top: 58vw;
  left: -5vw;
}
.squares-left img:nth-child(5) {
  position: absolute;
  top: 60vw;
  left: 71vw;
}

.section-three {
  background: rgba(74, 153, 211, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8vw;
}
.section-three h2 {
  margin-bottom: 4vw;
  font-size: 2vw;
  color: var(--blue);
}
.section-three-items {
  display: flex;
}
.section-three-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 15vw;
  margin-right: 3vw;
}
.section-three-item img {
  margin-bottom: 0.9vw;
  width: 3vw;
}
.section-three-item a {
  color: var(--dark2);
  font-size: 1.1vw;
  font-weight: bold;
  margin-bottom: 0.5vw;
}
.section-three-item p {
  font-size: 0.8vw;
  line-height: 1.5vw;
}

.section-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vw 0 2vw 0;
  position: relative;
}
.slider {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-line {
  width: 200%;
  display: flex;
  position: relative;
  transition: all ease-in 1s;
  left: 0;
}

.section-four h2 {
  font-size: 2vw;
}
.slide {
  width: 100vw;
  display: flex;
  margin: 5vw 0 5vw 0;
}
.slide-img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 5vw 5vw 3vw 0;
  background: rgba(74, 153, 211, 0.1);
  border-radius: 0px 6px 6px 0px;
  width: 40vw;
  height: 20vw;
}
.slide-img img {
  width: 20vw;
  height: 25vw;
}

.slide-text {
  width: 20vw;
  margin: 7vw 5vw 2vw 0;
}
.slide-text img {
  margin: 2vw 0;
  width: 2vw;
}
.slide-text h4 {
  font-size: 1vw;
}
.slide-text p {
  font-size: 0.8vw;
  line-height: 1.2vw;
  opacity: 0.5;
  margin-bottom: 2vw;
}

.section-four-btns {
  display: flex;
  position: absolute;
  right: 29vw;
  bottom: 8vw;
}

.section-four-btns button {
  background: var(--blue);
  border-radius: 4px 0px 0px 4px;
  width: 3.5vw;
  height: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.section-four-btns button img {
  width: 0.8vw;
}
.section-four-btns button:last-child {
  background: var(--white);
  border-radius: 0px 4px 4px 0px;
}
.section-four-dots {
  position: absolute;
  right: 0;
  top: 9vw;
  width: 8vw;
}

.section-five {
  display: flex;
  flex-direction: column;
  padding: 5vw 12vw 5vw 9vw;
  position: relative;
}
.sections-five {
  display: flex;
}
.section-five-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 50%;
  position: relative;
}

.section-five-left img:first-child {
  position: absolute;
  width: 16vw;
  left: 11vw;
  top: -2vw;
  z-index: 5;
}
.section-five-left img {
  width: 13vw;
}
.section-five-left img:last-child {
  margin-left: 6vw;
}

.section-five-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  padding: 5vw 8vw;
}
.section-five-right h2 {
  font-size: 1.5vw;
}
.section-five-right p {
  font-size: 0.8vw;
  line-height: 1.2vw;
  opacity: 0.6;
  margin-top: 1vw;
}
.section-five-right-btns a img {
  width: 9vw;
  margin: 0.5vw;
}

.section-five-squares {
  display: flex;
  position: relative;
}
.section-five-squares img {
  width: 7.5vw;
}

.squares-five-right img:first-child {
  position: absolute;
  bottom: -3.5vw;
  right: -10.5vw;
}
.squares-five-right img:nth-child(2) {
  position: absolute;
  bottom: -8vw;
  right: -14vw;
}
.squares-five-right img:last-child {
  position: absolute;
  bottom: -5vw;
  right: -8.5vw;
}

.squares-five-left img:first-child {
  position: absolute;
  bottom: -8vw;
  left: -7.5vw;
}
.squares-five-left img:nth-child(2) {
  position: absolute;
  bottom: -6.5vw;
  left: -6vw;
}
.squares-five-left img:last-child {
  position: absolute;
  bottom: -4vw;
  left: -11.5vw;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  height: 15vw;
  flex-shrink: 0;
  min-width: 100%;
  z-index: 10;
}
.footer-first {
  justify-content: space-between;
  width: 100%;
  padding: 2vw 2vw 0 5vw;
}
.fotter-left {
  display: flex;
}
.footer-links-group {
  display: flex;
  flex-basis: 60%;
  justify-content: center;
}
.footer-link {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}
.footer-logo {
  flex-basis: 10%;
}
.footer-logo img {
  width: 7vw;
}
.footer-mail {
  flex-basis: 30%;
}
.footer-link p {
  text-decoration: underline 1.4px;
  margin-bottom: 7%;
  font-size: 0.9vw;
}
.footer-link li {
  line-height: 1.5em;
  font-size: 0.8vw;
}
.footer-mail > form > input {
  width: 13vw;
  height: 2.7vw;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
}
.footer-mail > form > button {
  width: 7vw;
  height: 2.7vw;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 0.9vw;
  color: var(--blue);
  background-color: var(--white);
  font-weight: bold;
  margin-left: 0.5vw;
}
::placeholder {
  display: flex;
  align-items: center;
  color: black;
  opacity: 0.5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.7vw;
  text-indent: 1vw;
}
footer p {
  color: var(--white);
  font-size: 1vw;
  margin-bottom: 5%;
}
.footer-second {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff;
  min-width: 100%;
  height: 3vw;
  align-items: center;
  padding: 0 9vw 0 5vw;
  margin-top: auto;
}

.footer-second a {
  margin-left: 1.7vw;
}
.footer-second p {
  font-size: 0.7vw;
}

@media (max-width: 1200px) {
  .section-three h2 {
    font-size: 2.5vw;
  }
  .section-three p {
    font-size: 1.1vw;
  }
  .section-three a {
    font-size: 1.2vw;
  }
  .section-three-item img {
    width: 4vw;
  }
  .section-four p {
    font-size: 1.1vw;
  }
  .section-four h2 {
    font-size: 2.5vw;
  }
  .slide-text {
    margin: 1vw;
  }
}
